body {
  /* background: #1F2833; */
  background-image: linear-gradient(#1F2833, #0B0C10);
  font-family: Geneva, Helvetica, sans-serif;
  color: #C5C6C7;
  margin: 0;
}

#header-div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: #0B0C10;
  width: 100%;
  padding-top: 1em;
  padding-bottom: 1em;
  margin: 0;
}

#newlogo {
  display: block;
  width: 20%;
  margin-left: 2%;
  /* padding-right: 0.6em; */
}

#title {
  color: #45A29E;
  /* color: #66FCF1; */
  /* color: #1F2833; */
  font-size: 2.5em;
  margin-right: 2%;
  /* padding-left: 0.6em; */
}

h1 {
  text-align: center;
  font-weight: bolder;
  font-size: 3em;
  color: #45A29E;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.produceDataButton {
  font-size: 1.2em;
  background-color: #0B0C10;
  color: #66FCF1;
  border: 2px solid #66FCF1;
  margin: 5px;
}

.produceDataButton:hover {
  background-color: #66FCF1;
  color: #0B0C10;
  border: 2px solid #0B0C10;
}

.produceDataButton:focus {
  outline: none;
  background-color: #45A29E;
  color: #0B0C10;
  border: 2px solid #0B0C10;
}

.produceData {
  display: grid;
  grid-template-columns: repeat(3, 15em);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  justify-content: center;
  /* display: flex;
  flex-direction: row;
  justify-content: center; */
  margin-top: 5%;
}

.productCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #66FCF1;
}

input {
  font-size: 1em;
  margin: 0.5em;
}

#purchaser-id {
  margin-top: 2em;
  width: 20em;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 2px solid #66FCF1;
  font-size: 1.5em;
  color: #66FCF1;
}